<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>登录</ion-title>
        <ion-buttons>
            <ion-back-button slot="start"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-logo-box">
        <ion-img class="login-logo" src="/assets/img/logo.png"></ion-img>
    </div>
    <ion-item class="login-username">
        <ion-label position="floating">用户名</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="login-password">
        <ion-label position="floating">密码</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="doLogin()">登录</ion-button>
</ion-content>
