<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon name="apps"></ion-icon>
      <ion-label>项目</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dynamic">
      <ion-icon name="send"></ion-icon>
      <ion-label>动态</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="system">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>体系</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
