<ion-content style="height: 100%;">
    <div class="nav-body">
        <ion-label class="nav-title">公众号</ion-label>
        <div class="nav-tags-body">
            <ion-chip class="nav-name" *ngFor="let item of chatList;let i=index"
                      [color]="randomColor(i)"
                      [routerLink]="['/blog-list']"
                      [queryParams]="{cid:item.id, title:item.name}"> {{item.name}}</ion-chip>
        </div>
    </div>
    <div class="nav-body" *ngFor="let body of navList">
        <ion-label class="nav-title">{{body.name}}</ion-label>
        <div class="nav-tags-body">
            <ion-chip class="nav-name" *ngFor="let item of body.articles;let i=index"
                      [color]="randomColor(i)"> {{item.title}}</ion-chip>
        </div>
    </div>
</ion-content>
