<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Three
        </ion-title>
    </ion-toolbar>
</ion-header>

<div class="container">
    <div class="parent-left">
        <div *ngFor="let item of systems"
             [ngClass]="this.curParent===item?'parent-item-active':'parent-item-default'"
             (click)="onParentClicked(item)">
            {{ item.name}}
        </div>
    </div>
    <div class="parent-right" *ngIf="curParent!=null">
        <div class="children-item" *ngFor="let item of this.curParent.children"
             [routerLink]="['/blog-list']" [queryParams]="{parent:formatData(this.curParent)}">
            {{ item.name}}
        </div>
    </div>
</div>
