.item-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

.item-content {
  display: flex;
  flex-direction: row;
}

.item-content-left {
  display: flex;
  flex-direction: column;
  flex: 10;
  padding-right: 6px;
}

.item-content-right {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  height: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item-title {
  font-size: 14px;
  font-weight: bold;
  color: #2a2a2a;
}

.item-desc {
  font-size: 12px;
  color: darkgrey;
  max-lines: 2;
}

.item-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.item-author {
  font-size: 12px;
  font-weight: normal;
  color: darkgrey;
}

.item-date {
  font-size: 12px;
  font-weight: normal;
  color: darkgrey;
}

.divider {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  transform: scaleY(0.5);
  background: darkgray;
}

ion-row {
  padding: 0;
}
