<div (click)="openBlog(blog.link)" class="item-container">
  <div class="item-content">
    <div class="item-content-left">
      <div class="item-title"> {{blog.title}}</div>
      <div class="item-desc"> {{blog.desc}}</div>

    </div>
    <div *ngIf="blog.envelopePic!=''" class="item-content-right">
      <ion-img [src]="blog.envelopePic"></ion-img>
    </div>
  </div>
  <div class="item-footer">
    <ion-label class="item-author">作者：{{blog.author}}</ion-label>
    <ion-label class="item-date">{{blog.niceDate}}</ion-label>
  </div>
  <div class="divider"></div>
</div>
