.container {
  height: 100%;
}

.indicator {
  display: flex;
  flex-direction: row;
}

.indicator-item-default {
  padding: 2px 6px 2px 6px;
  font-size: 12px;
  font-weight: normal;
}

.indicator-item-active {
  padding: 2px 6px 2px 6px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.endLineContainer {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.endLine {
  text-align: center;
  align-content: center;
  padding: 10px 0 16px 0;
  font-size: 12px;
  color: darkgrey;
}
