<!--<SearchBar [value]="keyWord" placeholder="Search" (onSubmit)="doSearch()"></SearchBar>-->
<div class="container">
  <div class="search-history-prefix">
    <ion-label class="hot-key-prefix">热门搜索</ion-label>
  </div>
  <div class="hot-key-container">
    <ion-label
      *ngFor="let item of hotKeys;
                   let i=index" [queryParams]="{isSearch: true,keyWord: item.name,title: item.name + '搜索结果'}"
      [routerLink]="['/blog-list']"
      class="hot-key-name"
      text-center
    >{{item.name}}</ion-label>
  </div>
  <div class="search-history-prefix">
    <ion-label class="hot-key-prefix">历史记录</ion-label>
    <ion-img (click)="clearHistory()" src="/assets/img/delete.png"></ion-img>
  </div>
  <div class="hot-key-container">
    <ion-label
      *ngFor="let item of history.getItems();let i=index"
      [color]="randomColor(i)"
      class="hot-key-name"
      text-center>{{item}}</ion-label>
  </div>
</div>
