<SearchBar [(ngModel)]="keyWord" [placeholder]="'Search'" (onSubmit)="doSearch()"></SearchBar>
<div class="container">
    <div class="search-history-prefix">
        <ion-label class="hot-key-prefix">热门搜索</ion-label>
    </div>
    <div class="hot-key-container">
        <ion-label text-center class="hot-key-name"
                   *ngFor="let item of hotKeys;
                   let i=index"
                   [routerLink]="['/blog-list']"
                   [queryParams]="{isSearch: true,keyWord: item.name,title: item.name + '搜索结果'}"
        >{{item.name}}</ion-label>
    </div>
    <div class="search-history-prefix">
        <ion-label class="hot-key-prefix">历史记录</ion-label>
        <ion-img src="/assets/img/delete.png" (click)="clearHistory()"></ion-img>
    </div>
    <div class="hot-key-container">
        <ion-label text-center class="hot-key-name" *ngFor="let item of history.getItems();let i=index"
                   [color]="randomColor(i)">{{item}}</ion-label>
    </div>
</div>
