.nav-body {
  display: flex;
  flex-direction: column;
}

.nav-title {
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: bold;
}

.nav-tags-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-name {
  font-size: 12px;
  padding: 2px 16px 2px 16px;
  color: #2a2a2a;
}
