<ion-header>
    <ion-toolbar  color="primary">
        <ion-title text-center>
            体系
        </ion-title>
    </ion-toolbar>
</ion-header>

<div class="container">
    <div class="parent-left">
        <div *ngFor="let item of systems"
             [ngClass]="this.curParent===item?'parent-item-active':'parent-item-default'"
             (click)="onParentClicked(item)">
            {{ item.name}}
        </div>
    </div>
    <div class="parent-right" *ngIf="curParent!=null">
        <ion-chip class="children-item" *ngFor="let item of this.curParent.children;let i=index"
                  [color]="randomColor(i)"  [routerLink]="['/blog-list']" [queryParams]="{cid:item.id, title:item.name}"> {{item.name}}</ion-chip>

    </div>
</div>
