.container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.parent-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  background: #f4f4f4;
}

.parent-right {
  display: flex;
  flex-direction: row;
  flex: 2;
  overflow: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
}

.parent-item-default {
  padding: 16px 0 16px 0;
  background: #f4f4f4;
  color: #666666;
  text-align: center;
  font-size: 14px;
}

.parent-item-active {
  padding: 16px 0 16px 0;
  background: white;
  font-weight: bold;
  text-align: center;
  color: #2a2a2a;
  font-size: 14px;
}

.children-item {
  font-size: 12px;
  padding: 2px 16px 2px 16px;
  color: #2a2a2a;
}
