<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>
            设置
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="avatar-container" routerLink="/login">
            <ion-img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=wavatar&f=y" alt="">
            </ion-img>
        </div>

        <div class="settings-item">
            <ion-label class="name">我的收藏</ion-label>
            <ion-img class="forward" src="/assets/img/forward.png"></ion-img>
        </div>
        <div class="settings-item">
            <ion-label class="name">我的待办</ion-label>
            <ion-img class="forward" src="/assets/img/forward.png"></ion-img>
        </div>

        <div class="logout-container">
            <ion-label class="logout-text">退出登录</ion-label>
        </div>
    </div>
</ion-content>
